{% extends 'base.html' %}
{% block title %}{{ hive.name }} — Beetter{% endblock %}
{% block page_title %}{{ hive.name }}{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
{% endblock %}

{% block content %}
{% include 'beehives/_header.html' %}
{% include 'beehives/_measurements.html' %}
{% include 'beehives/_location.html' %}
{% endblock %}

{% block scripts %}
{% include 'beehives/_charts_js.html' %}
{% include 'beehives/_location_js.html' %}
{% endblock %}
